DATABASE_HOST=localhost
DATABASE_NAME=ticketer_db
DATABASE_USER=root
DATABASE_PASS=
DATABASE_PORT=3306

JWT_SECRET=
JWT_EXPIRY=172800

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYOUT_HOLD_HOURS=1

APP_URL=http://localhost/ticketer
APP_NAME=Ticketer
APP_ENV=development
FRONTEND_URL=http://localhost:5173

# Email configuration for sending notifications (e.g., ticket purchase confirmations)
SENDBYTE_API_KEY=sk_live_xxxxxxxxxxxxxxxxxxxxxx
MAIL_API_URL=https://api.sendbyte.africa/v1/emails
MAIL_FROM_ADDRESS=noreply@mail.ticketer.website
MAIL_FROM_NAME=Ticketer
MAIL_LOGO_URL=https://res.cloudinary.com/ddpacsja9/image/upload/ticketer_logo.svg

# GOOGLE OAUTH CONFIGURATION
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Puppeteer configuration for PDF generation
CHROMIUM_PATH=C:/Users/Samrose/.cache/puppeteer/chrome/win64-149.0.7827.22/chrome-win64/chrome.exe
NODE_PATH=C:/Program Files/nodejs/node.exe
NPM_PATH=C:/Program Files/nodejs/npm.ps1
NODE_BINARY_PATH=C:/Program Files/nodejs/node.exe

# Cloudinary configuration for image uploads
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_CLOUD_NAME=