.env

storage/tickets/
storage/qrcodes/
storage/banners/

# Composer dependencies (if you use composer for mPDF, PHPMailer etc.)
vendor/

.DS_Store
Thumbs.db
.vscode/
.idea/

client_secret_881137395596-q4iqm89l98sis7i7li4mneufl426ajf2.apps.googleusercontent.com.json

prompt.html

node_modules/

public/assets/tailwind.css
worker.php
*.dump
database/*.dump
*.log
docker/*.log